* {
    line-height: 1.5;
}

h2 {
    text-align: center;
}

body {
    width: 800px;
    margin: 0 auto;
}

pre {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
}

a:visited {
    color: blue;
}